{% extends 'main.html' %}
{% block content %}

<div class="row">
    <div class="twelve-columns">
        <section>
            {% for post in posts %}

            <article class="post">
                <header>
                    <a class="post-title" href="/post/{{post.key.urlsafe()}}">{{post.subject}}</a>
                    <span class="post-like-count">likes: {{post.likes}}</span>
                    <hr>
                </header>
                {% if post.key.parent() == user.key %}
                    <div class="author-admin">
                        <a href="/edit/{{post.key.urlsafe()}}">Edit</a>
                        <a href="/delete/{{post.key.urlsafe()}}">Delete</a>
                    </div>
                {% else %}
                    <div class="submit-like">
                        <form action="/post/{{post.key.urlsafe()}}/like" method="post">
                        {% if post.key in user.liked_posts %}
                                <button class="button-primary" type="submit">Liked</button>
                        {% else %}
                                <button type="submit">Like</button>
                        {% endif %}
                        </form>
                    </div>
                {% endif %}

                <p>{{post.content}}</p>

            </article>

            {% endfor %}
        </section>
    </div>
</div>
{% endblock %}