{% extends 'main.html' %}
{% block content %}

    {% for post in posts %}

        <article>
            <a href="/post/{{post.key.urlsafe()}}"><h3>{{post.subject}}</h3></a>
            <p>{{post.content}}</p>

            <div>
                <a href="#">Comment</a>
                {% if post.key.parent() == user.key %}
                    <a href="/edit/{{post.key.urlsafe()}}">Edit</a>
                    <a href="/delete/{{post.key.urlsafe()}}">Delete</a>
                {% endif %}
            </div>
        </article>

    {% endfor %}

{% endblock %}