{% extends 'main.html' %}
{% block content %}

    {% for post in posts %}

        <article>
            <a href="/post/{{post.key.urlsafe()}}"><h3>{{post.subject}}</h3></a>
            <p>{{post.content}}</p>
        </article>

        {% if post.key.parent() == user.key %}
            <div>
                <a href="/edit/{{post.key.urlsafe()}}">Edit</a>
                <a href="/delete/{{post.key.urlsafe()}}">Delete</a>
            </div>
        {% endif %}

    {% endfor %}

{% endblock %}