<div class="row">
    <!--<div class="eleven columns"></div>-->
    <div class="twelve columns" style="text-align: right">
        <nav>
            <a href="/">Home</a>
            <span> | </span>
            {% if user %}
                <a href="/newpost">New Post</a>
                <span> | </span>
                <a href="/user/{{user.username}}">{{user.username}}</a>
                <span> | </span>
                <a href="/logout">Logout</a>
            {% else %}
                <a href="/signup">Signup</a>
                <span> | </span>
                <a href="/login">Login</a>
            {% endif %}
        </nav>
    </div>
</div>