<!-- TODO: implement global message -->
<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="/static/skeleton.css">
    <link rel="stylesheet" type="text/css" href="/static/style.css">
    <title>Matt's Been Jammin</title>
</head>
<body>
    <div class="container">

        {% include 'header.html' %}

        <div class="row">
            <div class="twelve-columns">
                <ul class="messages">
                    {% for message in messages %}
                        <li>{{message[0]}}</li>
                    {% endfor %}
                </ul>
            </div>
        </div>

        {% block content %}
        {% endblock %}
    </div>
</body>
</html>