{% extends 'main.html' %}
{% block content %}

    <form method="post">
        <label for="username">Username</label>
        <input type="text" name="username" value="{{username}}">
        <label style="color: red">{{error_username}}</label>

        <label for="password">Password</label>
        <input type="password" name="password">
        <label style="color: red">{{error_password}}</label>

        <label for="confirm">Confirm Password</label>
        <input type="password" name="confirm">
        <label style="color: red">{{error_confirm}}</label>

        <label for="email">Email (optional)</label>
        <input type="text" name="email" value="{{email}}">
        <label style="color: red">{{error_email}}</label>

        <input type="submit">
    </form>

{% endblock %}